body {
   /* overflow: hidden; falsch, weil unten rechts Leaflet Quellen-Beschriftung halb angezeigt wird*/
   margin: 0; /* Leaflet Quellen-Beschriftung wird jetzt ganz angezeigt */
}

#map {
    width: 100vw;
    height: 100vh;
}